<h1 style='color: red;'>Deferrable Views</h1>
<div class="main-content">
  <h2>HEADING</h2>
  <h3>HEADING</h3>
  <h4>HEADING</h4>
  <h5>HEADING</h5>
  <h6>HEADING</h6>
  <p><i>PARAGRAPH</i></p>
  <p><b>PARAGRAPH</b></p>
  <p><u>PARAGRAPH</u></p>
  <p><s>PARAGRAPH</s></p>
  <p><mark>PARAGRAPH</mark></p>
  <p><q>PARAGRAPH</q></p>
  <p><bdo>PARAGRAPH</bdo></p>
  <p><code>PARAGRAPH</code></p>
  <p><em>PARAGRAPH</em></p>
</div>

<hr>

@defer (on viewport; on timer(3s)) {
<app-heavy-component></app-heavy-component>
}
@loading (after 1000; minimum 2000ms) {
<app-spinner-component></app-spinner-component>
}
@placeholder (minimum 2000ms) {
<app-placeholder-component></app-placeholder-component>
}
@error {
<app-error-handler-component></app-error-handler-component>
}